// .content-container{
//     min-height: 650px;
// }

.farmer-content-layout{
    height: 536px;
}

.farmer-dock-nav{
    position: fixed;
    z-index: 997;
    left: 0;
    width: 100vw;
    bottom: 0;
}

.login-page{
    background-image: url('/images/background/BG-SOLID-CENTER.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}